//+build ignore

package decode

{{- range $t := $.try }}
{{- range $h := $.how }}
{{- range $w := $.where }}

func (d *D) FieldFormat{{$t.name}}{{$h.name}}{{$w.name}}(nBits int) float64 {
    return 0
}

{{- end}}
{{- end}}
{{- end}}
